openapi: 3.1.0
info:
  title: Basecamp Authorization Uploads API
  description: The Basecamp API is a REST API that provides programmatic access to Basecamp's project management and team communication platform. It enables developers to manage projects, to-do lists, messages, documents, schedules, campfires, uploads, card tables, templates, and team members across Basecamp accounts. The API uses OAuth 2.0 for authentication and returns JSON responses, with all requests scoped to an account ID in the base URL path. Resources include projects, people, to-dos, message boards, documents, card tables, campfires, questionnaires, and webhooks, covering the full breadth of Basecamp's collaboration toolset.
  version: '1.0'
  contact:
    name: Basecamp Developer Support
    url: https://github.com/basecamp/bc3-api
  termsOfService: https://basecamp.com/terms
servers:
- url: https://3.basecampapi.com/{accountId}
  description: Production Server
  variables:
    accountId:
      description: Your Basecamp account ID
      default: '999999999'
security:
- bearerAuth: []
tags:
- name: Uploads
  description: Manage file uploads stored in vaults
paths:
  /vaults/{vaultId}/uploads.json:
    get:
      operationId: listUploads
      summary: List uploads
      description: Returns a paginated list of active file uploads in the specified vault.
      tags:
      - Uploads
      parameters:
      - $ref: '#/components/parameters/VaultId'
      responses:
        '200':
          description: List of uploads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Upload'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createUpload
      summary: Create an upload
      description: Creates a new upload entry in the specified vault using an attachable SGID obtained from the Basecamp attachment API.
      tags:
      - Uploads
      parameters:
      - $ref: '#/components/parameters/VaultId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadCreateRequest'
      responses:
        '201':
          description: Upload created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /uploads/{uploadId}.json:
    get:
      operationId: getUpload
      summary: Get an upload
      description: Returns the upload with the given ID.
      tags:
      - Uploads
      parameters:
      - $ref: '#/components/parameters/UploadId'
      responses:
        '200':
          description: Upload details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateUpload
      summary: Update an upload
      description: Updates the description or base name of the specified upload.
      tags:
      - Uploads
      parameters:
      - $ref: '#/components/parameters/UploadId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadUpdateRequest'
      responses:
        '200':
          description: Updated upload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    UploadId:
      name: uploadId
      in: path
      required: true
      description: Unique identifier of the upload
      schema:
        type: integer
    VaultId:
      name: vaultId
      in: path
      required: true
      description: Unique identifier of the vault
      schema:
        type: integer
  schemas:
    Recording:
      type: object
      description: A generic recording object representing any Basecamp content resource such as a message, to-do, document, comment, or upload.
      properties:
        id:
          type: integer
          description: Recording ID
        status:
          type: string
          description: Recording status
          enum:
          - active
          - archived
          - trashed
        visible_to_clients:
          type: boolean
          description: Whether this recording is visible to client users
        created_at:
          type: string
          format: date-time
          description: Timestamp when the recording was created
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the recording was last updated
        title:
          type: string
          description: Title or summary of the recording
        inherits_status:
          type: boolean
          description: Whether this recording inherits its status from a parent
        type:
          type: string
          description: Recording type (e.g., Message, Todo, Document)
        url:
          type: string
          format: uri
          description: API URL for this recording
        app_url:
          type: string
          format: uri
          description: Web URL for this recording
        bucket:
          $ref: '#/components/schemas/BucketRef'
        creator:
          $ref: '#/components/schemas/PersonRef'
    UploadCreateRequest:
      type: object
      required:
      - attachable_sgid
      properties:
        attachable_sgid:
          type: string
          description: Signed global ID of the attachment obtained from the Basecamp attachment API
        description:
          type: string
          description: HTML-formatted information about the upload
        base_name:
          type: string
          description: Filename without extension
    UploadUpdateRequest:
      type: object
      properties:
        description:
          type: string
          description: Revised upload description in HTML format
        base_name:
          type: string
          description: New filename without extension
    PersonRef:
      type: object
      description: Minimal reference to a Basecamp person
      properties:
        id:
          type: integer
          description: Person ID
        attachable_sgid:
          type: string
          description: Signed global ID for attaching this person
        name:
          type: string
          description: Full name
        email_address:
          type: string
          format: email
          description: Email address
        personable_type:
          type: string
          description: Type of personable (User, Client, etc.)
        title:
          type: string
          description: Job title
        bio:
          type: string
          description: Short biography
        location:
          type: string
          description: Location string
        created_at:
          type: string
          format: date-time
          description: Account creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
        admin:
          type: boolean
          description: Whether the person is an account administrator
        owner:
          type: boolean
          description: Whether the person is the account owner
        client:
          type: boolean
          description: Whether the person is a client user
        employee:
          type: boolean
          description: Whether the person is an employee
        time_zone:
          type: string
          description: IANA time zone name
        avatar_url:
          type: string
          format: uri
          description: URL to the person's avatar image
        company:
          type: object
          description: Company the person belongs to
          properties:
            id:
              type: integer
              description: Company ID
            name:
              type: string
              description: Company name
    BucketRef:
      type: object
      description: Reference to the project (bucket) that contains a resource
      properties:
        id:
          type: integer
          description: Project ID
        name:
          type: string
          description: Project name
        type:
          type: string
          description: Resource type, always "Project"
        url:
          type: string
          format: uri
          description: API URL for the project
        app_url:
          type: string
          format: uri
          description: Web URL for the project
    Error:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message
    Upload:
      allOf:
      - $ref: '#/components/schemas/Recording'
      - type: object
        properties:
          filename:
            type: string
            description: Original filename of the upload
          content_type:
            type: string
            description: MIME type of the file
          byte_size:
            type: integer
            description: File size in bytes
          width:
            type: integer
            description: Image width in pixels (for image files)
            nullable: true
          height:
            type: integer
            description: Image height in pixels (for image files)
            nullable: true
          download_url:
            type: string
            format: uri
            description: Direct download URL for the file
          description:
            type: string
            description: HTML-formatted upload description
          position:
            type: integer
            description: Display position within the vault
          comments_count:
            type: integer
            description: Number of comments on this upload
  responses:
    BadRequest:
      description: Bad request — missing required fields or invalid values
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized — missing or invalid Bearer token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found — the requested resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 Bearer token obtained via the Basecamp authorization code flow at launchpad.37signals.com. Include as "Authorization: Bearer {token}" in all requests.'
externalDocs:
  description: Basecamp API Documentation
  url: https://github.com/basecamp/bc3-api
