openapi: 3.2.0
info:
  title: Basecamp OAuth Authorization API
  description: The Basecamp OAuth 2.0 API provides the authorization code flow for obtaining access tokens on behalf of Basecamp users. Developers register their applications at launchpad.37signals.com to receive a client ID and client secret, then redirect users through the authorization flow. Access tokens expire after two weeks and can be refreshed using refresh tokens without requiring the user to re-authorize. All Basecamp API requests must include a valid Bearer token obtained through this flow.
  version: '1.0'
  contact:
    name: Basecamp Developer Support
    url: https://github.com/basecamp/bc3-api/blob/master/sections/authentication.md
  termsOfService: https://basecamp.com/terms
servers:
- url: https://launchpad.37signals.com
  description: Basecamp Authorization Server
tags:
- name: Authorization
  description: OAuth 2.0 authorization code flow endpoints
paths:
  /authorization:
    get:
      operationId: authorizeUser
      summary: Authorize user
      description: Redirects the user to the Basecamp authorization page where they can grant your application access to their account. After the user approves, Basecamp redirects back to your redirect_uri with an authorization code.
      tags:
      - Authorization
      parameters:
      - name: type
        in: query
        required: true
        description: Must be set to "web_server" for the authorization code flow
        schema:
          type: string
          enum:
          - web_server
      - name: client_id
        in: query
        required: true
        description: Your application's client ID from launchpad.37signals.com
        schema:
          type: string
      - name: redirect_uri
        in: query
        required: true
        description: The URI to redirect to after authorization. Must match a URI registered with your application.
        schema:
          type: string
          format: uri
      responses:
        '302':
          description: Redirect to Basecamp authorization page or back to redirect_uri with code parameter on approval
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  responses:
    BadRequest:
      description: Bad request — missing or invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 Bearer token obtained via the authorization code flow. Include as "Authorization: Bearer {token}" in all API requests.'
externalDocs:
  description: Basecamp Authentication Documentation
  url: https://github.com/basecamp/bc3-api/blob/master/sections/authentication.md
